
  <div class="glass container-glass">
    <table>
      <tr>
        <td>
          <button mat-flat-button (click)="openAddDialog()">Nouveau Projet</button>
        </td>
        <td>
          <mat-form-field style="float: right;">
            <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Search">
          </mat-form-field>
        </td>
      </tr>
    </table>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 glass ">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="dateDebut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> date début </th>
    <td mat-cell *matCellDef="let element"> {{element.dateDebut | date}} </td>
  </ng-container>
  <ng-container matColumnDef="dateFin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> date Fin </th>
    <td mat-cell *matCellDef="let element"> {{element.dateFin | date }} </td>
  </ng-container>
  <ng-container matColumnDef="currentPercent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
    <td mat-cell *matCellDef="let element"> {{element.currentPercent}} </td>
  </ng-container>
  <ng-container matColumnDef="nbrPhases">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
    <td mat-cell *matCellDef="let element"> {{element.nbrPhases}} </td>
  </ng-container>
  <ng-container matColumnDef="nbrTaches">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Taches </th>
    <td mat-cell *matCellDef="let element"> {{element.nbrTaches}} </td>
  </ng-container>
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button matTooltip="Taches" mat-mini-fab class="blue" routerLink="/projets/{{element.id}}"><mat-icon>date_range</mat-icon></a>
      <button mat-raised-button matTooltip="Modifier" mat-mini-fab class="sky-blue" (click)="openUpdateDialog(element.id)"><mat-icon>edit</mat-icon></button>
      <button mat-raised-button matTooltip="Supprimer" mat-mini-fab class="dark-blue" (click)="openDeleteDialog(element.id)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <mat-paginator class="glass" style="width:100%;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
