<mat-grid-list  cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div class="glass container-glass">
      <mat-tab-group class="glass sub-container-glass"*ngIf="currentProject" mat-align-tabs="start">
        <mat-tab label="Description du projet" *ngIf="currentProject">{{currentProject.description}}</mat-tab>
        <mat-tab label="Documents partagés">
          <mat-grid-list  cols="2" rowHeight="2:1">
            <mat-grid-tile>
              <mat-card class="glass container-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image "></div>
                  <mat-card-title>Document 1</mat-card-title>
                  <mat-card-subtitle>Par: "HAMMENI Alaa"</mat-card-subtitle>
                  <a mat-raised-button class="mat-button-download" matTooltip="Télécharger" mat-mini-fab mat-blue-grey><mat-icon>get_app</mat-icon></a>
                </mat-card-header>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card class="glass container-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image "></div>
                  <mat-card-title>Document 1</mat-card-title>
                  <mat-card-subtitle>Par: "HAMMENI Alaa"</mat-card-subtitle>
                  <a mat-raised-button class="mat-button-download" matTooltip="Télécharger" mat-mini-fab mat-blue-grey><mat-icon>get_app</mat-icon></a>
                </mat-card-header>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="glass container-glass">
      PLANNING
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list rowHeight="400px" cols=2>
  <mat-grid-tile [colspan]=2>
    <div class="glass container-glass">
      <table>
        <tr>
          <td>
            <button mat-flat-button>Nouvelle Phase</button>
          </td>
          <td>
            <mat-form-field style="float: right;">
              <input matInput (keyup)="applyFilterPhases($any($event.target).value)" placeholder="Search">
            </mat-form-field>
          </td>
        </tr>
      </table>
    <table mat-table [dataSource]="dataSourcePhases" #sortPhases="matSort" matSort class="mat-elevation-z8 glass">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="dateDebut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> date début </th>
        <td mat-cell *matCellDef="let element"> {{element.dateDebut | date}} </td>
      </ng-container>
      <ng-container matColumnDef="dateFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> date Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFin | date }} </td>
      </ng-container>
      <ng-container matColumnDef="pourcentage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> % par projet </th>
        <td mat-cell *matCellDef="let element"> {{element.pourcentage}} </td>
      </ng-container>
      <ng-container matColumnDef="currentPercent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> % courant </th>
        <td mat-cell *matCellDef="let element"> {{element.currentPercent}} </td>
      </ng-container>
      <ng-container matColumnDef="nbrtaches">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Taches </th>
        <td mat-cell *matCellDef="let element"> {{element.nbrtaches}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element;let i=index">
          <a mat-raised-button matTooltip="Taches" mat-mini-fab class="blue" [class.bolder]="i==selectedIndex" (click)="getSelectedPhase(element,i)"><mat-icon>date_range</mat-icon></a>
          <button mat-raised-button matTooltip="Modifier" mat-mini-fab class="sky-blue" ><mat-icon>edit</mat-icon></button>
          <button mat-raised-button matTooltip="Supprimer" mat-mini-fab class="dark-blue"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsPhases"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPhases;"></tr>
    </table>
      <mat-paginator #paginatorPhases="matPaginator" class="glass" [pageSizeOptions]="[2,3]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=2>
    <div class="glass container-glass" *ngIf="selectedIndex!=-1">
      <table>
        <tr>
          <td>
            <button mat-flat-button>Nouvelle Tache</button>
          </td>
          <td>
            <mat-form-field style="float: right;">
              <input matInput (keyup)="applyFilterTaches($any($event.target).value)" placeholder="Search">
            </mat-form-field>
          </td>
        </tr>
      </table>
    <table mat-table [dataSource]="dataSourceTaches" #sortTaches="matSort" matSort class="mat-elevation-z8 glass">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="dateDebut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> date début </th>
        <td mat-cell *matCellDef="let element"> {{element.dateDebut | date}} </td>
      </ng-container>
      <ng-container matColumnDef="dateFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> date Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFin | date }} </td>
      </ng-container>
      <ng-container matColumnDef="pourcentage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> % par tache </th>
        <td mat-cell *matCellDef="let element"> {{element.pourcentage}} </td>
      </ng-container>
      <ng-container matColumnDef="validation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> validation </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.validation==true; else elseTemplate">
          <span mat-mini-fab class="sky-green-valid"><mat-icon>check_circle</mat-icon></span>
        </ng-container>
        <ng-template #elseTemplate>
          <span mat-mini-fab class="red-invalid"><mat-icon>cancel</mat-icon></span>
        </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button matTooltip="Modifier" mat-mini-fab class="sky-blue" ><mat-icon>edit</mat-icon></button>
          <button mat-raised-button matTooltip="Supprimer" mat-mini-fab class="dark-blue"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsTaches"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsTaches;"></tr>
    </table>
      <mat-paginator class="glass" #paginatorTaches="matPaginator" [pageSizeOptions]="[2,3]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-grid-tile>
</mat-grid-list>

