:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.controles-container{
  width: 100%;
  padding: 5%;
}
.controles-container > * {
  width: 100%;
}
.glass{
  width: 95%;
  margin-left: auto;
  margin-right: auto ;
  border:1px rgba(255,255,255,0.2) ;
  background:linear-gradient(50deg, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.8) 100%);
  box-shadow:0px 1px 1px rgba(0,0,0,0.5) !important;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}
