<mat-grid-list cols="2" rowHeight="250px">
  <mat-grid-tile [colspan]="2"  [rowspan]="2">
    <img class="backg" src="assets/images/backg1.PNG">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" >
    <div class="glass large">
      <br/>
      <h1 style="color:#0E3854;font-weight: bold;"><mat-icon> bubble_chart</mat-icon> IDARATASK<mat-icon> bubble_chart</mat-icon></h1>
      <p style="font-size: 20px;">
        Votre meilleure solution pour assurer un environnement de collaboration et d’interaction<br/>
        entre les différents utilisateurs du système en exploitant le développement<br/>
        technologique, et les nouvelles techniques d’information et communication,<br/>
        pour simplifier le suivi des employés et le travail à distance.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <div class="glass small">
      <br/><br/>
      <h1 style="color:#0E3854;font-weight: bold;"><mat-icon> bubble_chart</mat-icon> NOS SERVICES <mat-icon> bubble_chart</mat-icon></h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="glass normal">
      <br/>
      <img class="imgSize" src="assets/images/travailler.png" alt="gestion">
      <p style="font-size: 20px;">
        Travailler à distance avec confiance<br/>
        et collaborer efficacement<br/>
        au sein d'une équipe en télétravail
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="glass normal">
      <img class="imgSize" src="assets/images/Communiquer.png" alt="gestion">
      <p style="font-size: 20px;">
        Communication intranet entre<br/>
        les employés de votre<br/>
        établissement
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="glass normal">
      <img class="imgSize" src="assets/images/documents.png" alt="gestion">
      <p style="font-size: 20px;">
        Partager vos livrables
        et documents <br/>
        avec toute ergonomie

      </p>
    </div>

  </mat-grid-tile>

  <mat-grid-tile>
    <div class="glass normal">
      <img class="imgSize" src="assets/images/gestion.png" alt="gestion">
      <p style="font-size: 20px;">
        Gestion de roulement et supervision <br/>
        du rendement de vos employés
      </p>
    </div>
    <br/><br/>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2" >
    <img style="margin-top: 8%;" src="assets/images/footer.png">

  </mat-grid-tile>

</mat-grid-list>

